body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
  }
  h1 {
    color: #333;
    margin-bottom: 10px;
  }
  p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
  }
  .product-image {
    max-width: 100%;
    height: auto;
  }
  .features {
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    background-color: #f4f4f4;
  }
  .feature {
    text-align: center;
  }
  .feature-icon {
    font-size: 24px;
    color: #3498db;
    margin-bottom: 10px;
  }
  .feature-title {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .feature-description {
    color: #666;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  <style>
  body {
  font-family: Arial, Helvetica, sans-serif;
  }

  /* The Modal (background) */
  .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  }

  .modal.active {
  display: block;
  }

  /* Modal Content */
  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  }

  /* The Close Button */
  .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }

  .close:hover,
  .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }

 

